<div class="revealable-card vocabulary-card">
    <div class="revealable-card__flipper">
        <div class="revealable-card__front vocabulary-card__face">
            <p class="vocabulary-card__question">{{ question }}</p>
            <a data-reveal href="#">Lösung zeigen</a>
        </div>
        <div class="revealable-card__back vocabulary-card__face">
            <p class="vocabulary-card__answer">{{ answer }}</p>
            <p>
                <a class="btn btn--success" href="#" data-cycle-complete="success">Richtig</a>
                <a class="btn btn--failure" href="#" data-cycle-complete="failure">Falsch</a>
            </p>
        </div>
    </div>
</div>