@mixin contained() {
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #ddeeff;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

h2 {
  @include contained;
  margin-bottom: 20px;
  margin-top: 20px;
}

.revealable-card {
  perspective: 1000px;
  &--revealed &__flipper {
    transform: rotateY(180deg);
  }
  &__flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__front, &__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__front {
    z-index: 2;
  }
  &__back {
    transform: rotateY(180deg);
  }
}

.vocabulary-card {
  @include contained;
  margin: 20px auto;
  height: 480px;
  &__face {
    background-color: #f9ce61;
    padding: 20px;
  }
  &__question, &__answer {
    font-size: 22px;
    font-weight: bold;
  }
}

a.btn {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}

.paper {
  @include contained;
  background-image: url("images/paper.png");
  font-family: 'Caveat', cursive;
  margin: 20px auto;
  padding: 20px;
  font-size: 21px;
  line-height: 30px;
}

.view-summary {
  @include contained;
  margin-bottom: 15px;
}

table {
  @include contained;
  td {
    border-bottom: 1px solid lightgray;
  }
  tr:first-child td {
    border-top: 1px solid lightgray;
  }
}