{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {{ cycle.card.frontsideContent }}<br>
        {{ cycle.card.backsideContent }}
    </p>
    <p>
        <a href="{{ path('cycleSucceed', {subjectId:cycle.subject.id}) }}">Succeed</a><br>
        <a href="{{ path('cycleFail', {subjectId:cycle.subject.id}) }}">Fail</a><br>
    </p>
{% endblock body %}