{% extends 'base.html.twig' %}

{% block body %}
    <h2>Zusammenfassung</h2>
    <p class="view-summary">Diese Vokabeln sollten jetzt richtig auf deinem Zettel stehen:</p>
    <div class="paper">
    {% for cycle in cyclesCompletedToday.succeeded %}
        {{ cycle.answer }}<br>
    {% endfor %}
    </div>

    <p class="view-summary">Diese Vokabeln hattest du heute falsch:</p>
    <table>
    {% for cycle in cyclesCompletedToday.failed %}
        <tr>
            <td>{{ cycle.card.frontsideContent }}</td>
            <td>{{ cycle.card.backsideContent }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock body %}