{% extends 'base.html.twig' %}

{% block body %}

    <script type="text/javascript">
        window.initialCycleData = {
            {{ cycle.id }}: {
                question: "{{ cycle.question }}",
                answer: "{{ cycle.answer }}"
            }
        };
    </script>

    <div data-cycle="{{ cycle.id }}">
    </div>

{% endblock body %}