{% extends 'base.html.twig' %}

{% block body %}

    <script type="text/javascript">
        window.cyclesData = {{ cyclesData|raw }};
    </script>

    <div data-cycle>
    </div>

{% endblock body %}