{% extends 'base.html.twig' %}

{% block body %}
    {% for subject in subjects %}
        <h2>{{ subject.title }}</h2>
        <p>
            <a href="{{ path('cycle', {subjectId:subject.id}) }}">Lernen</a><br>
            <a href="{{ path('cards', {subjectId:subject.id}) }}">Karten verwalten</a><br>
        </p>
    {% endfor %}
    <a href="{{ path('addSubject') }}">Neues Fach anlegen</a>
{% endblock body %}