{% extends 'base.html.twig' %}

{% block body %}
    <p>Du hast keine Vokabeln mehr zu wiederholen. Schau morgen wieder vorbei!</p>
    <p>
        <a href="{{ path('index') }}">Zurück</a>
    </p>
{% endblock body %}